<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
    <title>Hendrik Gebhardt</title>
	
		<!-- Favicon.ico placeholder -->
		<link rel="shortcut icon" href="/images/favicon.ico">
		
		<!-- Apple icon placeholder -->
		<link rel="apple-touch-icon-precomposed" href="/images/touch-icon.57.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch-icon.72.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch-icon.114.png">

		<!-- Apple splash screen placeholder -->
		<link rel="apple-touch-startup-image" href="/images/splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="/images/splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="/images/splash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/css/ink.css">
		
		<!--[if IE]>
			<link rel="stylesheet" href="/css/ink-ie.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<![endif]-->
		
	</head>
	<body>

		<header class="ink-container">
			<div class="ink-vspace">
				<h1 class="">Hendrik Gebhardt</h1>
				<p>Mal dieses, mal jenes. Mal heute, mal morgen.</p>
			</div>
		</header>

		<nav class="ink-container ink-navigation">
			<ul class="horizontal menu">
				<li>
					<a href="/">Start</a>
				</li>
				<li>
					<a href="/blog/">Blog</a>
				</li>
			</ul>
		</nav>

    <div class="ink-container">
       <div class="ink-l80">
         {{ content }}
       </div>
    </div>

		<footer>
			<p class="copyright">&copy; 2013 &ndash; Hendrik Gebhardt</p>
		</footer>
		
	</body>
</html>