<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <title>Hendrik Gebhardt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hendrik Gebhardt">
	
		<!-- Favicon.ico placeholder -->
		<link rel="shortcut icon" href="/images/favicon.ico">

		<!-- Apple icon placeholder -->
		<link rel="apple-touch-icon-precomposed" href="/images/touch-icon.57.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch-icon.72.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch-icon.114.png">

		<!-- Apple splash screen placeholder -->
		<link rel="apple-touch-startup-image" href="/images/splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="/images/splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="/images/splash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="/css/overrides.css" rel="stylesheet">
	</head>
	<body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">Hendrik Gebhardt</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                {% for nav in site.navigation %}
                  {% if page.idx == nav.uri %}
                    <li class="active">
                  {% else %}
                    <li>
                  {% endif %}
                  <a href="{{nav.uri}}">{{nav.text}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      {{ content }}

      <hr>

  		<footer class="footer center">
  			<p class="copyright">&copy; 2013 &ndash; <a href="/impressum">Hendrik Gebhardt</a></p>
  		</footer>

    </div> <!-- /container -->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-67547-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

	</body>
</html>