---
layout: default
idx: /blog
---
<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8" id="post">
      {{ content }}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'hgebhardt';
          var disqus_identifier = '{{page.id}}';

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <div class="span3 offset1 meta">
      <h3>Meta</h3>
      <dl>
        <dt>Veröffentlicht:</dt>
        <dd>{{ page.date | date: "%d.%m.%Y" }}</dd>
        <dt>Autor:</dt>
        <dd>Hendrik</dd>
      </dl>
    </div>
  </div>
</div>
